block template
    div.form-search
        div(class="input-prepend input-append")
          span.add-on <%= entry_name %>
          <input class="span2" id=<%= entry_id %> type="text" data-provide="typeahead" data-items="4" />
          span.add-on
            a.close-button(href="#")
              i.icon-remove-sign
