[submodule "vendor/sparkmd5"]
	path = vendor/sparkmd5
	url = git://github.com/satazor/SparkMD5.git
[submodule "node_modules/fluent-ffmpeg"]
	path = node_modules/fluent-ffmpeg
	url = git://github.com/inaes-tic/node-fluent-ffmpeg
[submodule "vendor/bootstrap"]
	path = vendor/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "node_modules/i18n-abide"]
	path = node_modules/i18n-abide
	url = git://github.com/inaes-tic/i18n-abide
[submodule "node_modules/melted-node"]
	path = node_modules/melted-node
	url = git://github.com/inaes-tic/melted-node
[submodule "node_modules/resumable.js"]
	path = node_modules/resumable.js
	url = git://github.com/inaes-tic/resumable.js
[submodule "node_modules/node-mlt"]
	path = node_modules/node-mlt
	url = git://github.com/redmantech/node-mlt.git
[submodule "node_modules/backbone.io"]
	path = node_modules/backbone.io
	url = git://github.com/inaes-tic/backbone.io
