block footer
   p.pull-right
     a(href="#") Back Home
   p Built as a sample application with 
     a(href="http://documentcloud.github.com/backbone/") Backbone.js
     a(href="http://twitter.github.com/bootstrap/") Twitter Bootstrap          
     a(href="http://nodejs.org/") Node.js
     a(href="http://expressjs.com/") Express
     and 
     a(href="http://www.mongodb.org/")MongoDB
     by
     a(href="http://coenraets.org",target="_blank") Christophe Coenraets
   p The source code for this application is available in 
     a(href="#")this repository
     on GitHub.
   p(class="pull-right")
     a(href="#")↑
   p
     a(href="http://www.gnu.org/licenses/agpl-3.0.html") AGPL-3.0
