!!!
html(lang='#{lang}', dir='#{lang_dir}')
  head
    title= name
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    link(rel='stylesheet', href='/css/main.css')
    script(src='/lib/head.min.js')
  body
    script(type='text/javascript')
      head.js(
        "js/vendor.js",
        "js/utils.js",
        "js/templates.js",
        "socket.io/socket.io.js",
        "socket.io/backbone.io.js",
        "js/vendor_others.js",
        "js/models.js",
        "js/views.js",
        "js/main.js"
      );
    #Panel

    #content.container-fluid
      block content
    .delete-drop.connected-sortable(style='display:none;')
      .message.no-sort
        h1 DROP ME

