!!!
html(lang='#{lang}', dir='#{lang_dir}')
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    script(src='/lib/head.min.js')     
    link(rel='stylesheet', href='/css/main.css')
  body(data-spy="scroll", data-target=".bs-docs-sidebar")
    script(type='text/javascript')
      head.js(
        "js/utils.js",
        "js/vendor.js",
        "js/templates.js",
        "socket.io/socket.io.js",
        "js/models.js",
        "js/views.js",
        "js/main.js"
      );
    div.header
    div.container#content
      block content

    footer.footer
      div.container(id="bottom")
        include footer
  