include conftemplates
include widgets

#configure
  #menu
    .listHeader
      ul.nav.nav-list(data-bind="{template: 'confignav'}")

    .form-actions
      a.btn.btn-primary.save_conf(data-bind="click: $root.save" )= i18n.gettext('Save')
      a.btn.delete_conf(data-bind="click: $root.cancel")= i18n.gettext('Cancel')

  #info
    .scrollable
      form.form-horizontal
        .page-header(data-bind="{template: 'config'}")
