block content
    .form-search
      .input-append
        input.input-block-level.search-query#media-search(
          type="text",
          data-provide="typeahead",
          data-items="4",
          placeholder=i18n.gettext('Search Medias'))
        button.btn(type="submit")
          i.icon-search
