block content
  table.table.table-dark.table-bordered.table-striped.table-hover#table
    thead
      tr
        th= i18n.gettext('Thumbnail')
        th= i18n.gettext('Media info')
        th= i18n.gettext('Status')
        th= i18n.gettext('Availability')
    tbody.tbody#media-view
