block content
  h1 Here you should be able to choose from all the stored playlists,
  p save new, create, ...
  .row
    .span6
      #left-pane(style='overflow-x:scroll;')
    .span6
      #right-pane(style='overflow-x:scroll;')
