block nowplaying
  - if (!type)
    - var type = 'Show'

  - if (type.match(/track/i))
    - var src = 'Header.piece()'
    - var progress = '{attr: {style:"width: "+Frame.progress()+"%;" }}';


  - if (type.match(/show/i))
    - var src = 'Header.show()'
    - var progress = '';

  .text-row
          strong= i18n.gettext('Previous:')
          span#previous(data-bind='text: ' + src + '.previous.name')
          span#prev-length
  .now-playing-info.song
          .time-flow
            span.time-elapsed#time-elapsed
            span.time-remaining#time-remaining
          span#current= i18n.gettext('Current ' + type + ':')
            strong(data-bind='text: ' + src + '.current.name')
          span.length#song-length
  .progressbar
          .progress-song#progress-bar(data-bind=progress)
  .text-row.next-song
          strong= i18n.gettext('Next:')
          span#next(data-bind='text: ' + src + '.next.name')
          span#next-length
