block content
.alert.alert-block.alert-error#alert-save(style='display: none;')
    h4 Unsaved changes
    p Cannot change view while there are unsaved changes.
    a.btn.btn-danger(type='button')#alert-save-close Ok
.panel-view
    .foldable-panel
        block foldable-content
    .flexible-panel
        block flexible-content
