.row
  .span12
    .btn-group
      .btn.btn-primary#bck
        i.icon-step-backward
        h1= i18n.gettext('back')
      .btn.btn-warning#pause
        i.icon-pause
        h1= i18n.gettext('pause')
      .btn.btn-success#play
        i.icon-play
        h1= i18n.gettext('play')
      .btn.btn-danger#fwd
        i.icon-step-forward
        h1= i18n.gettext('forward')


