block content
  #universe(title= i18n.gettext('Drag and drop programs to the calendar below'))
  
  #overlapping-alert.row-fluid
    .span6.offset3.alert.lead(style='text-align: center;')
      span= i18n.gettext('There are overlapping events. ')
      a#pushdown= i18n.gettext('Push down')
      span  or 
      a#revert= i18n.gettext('revert')  
  
  #schedule_calendar.ui-widget-content.block-shadow.padded.omega-block
