block content
  .playlist-name.span4.well
      .row
        .span1.thumbnail
          a
            img(src="http://critterapp.pagodabox.com/img/user.jpg",alt="")
        .span3
          h1= name
          span.label.label-warning.format
            i.icon-time.icon-white
            span= ' '
            span.total-time
