- var inndbind = 'attr: {id: id }';
- if (draggable)
    - inndbind += ',drag: id, dragOptions: { zIndex: 900, cursorAt: { top: 5, left: 5 }, scroll: false, appendTo: "#content", } ';

block content
- if (!name)
    - var name = i18n.gettext('Playlists');
- if (!fixed)
    - var fixed = false

    a.toggle-panel

    .listHeader
        h1.list-name= name
        #media-search
        .total-time-div
    .scroll-container
        .scrollable.no-time
            <!-- ko if: playlists().length -->
            ul#playlists.nav.nav-pills(data-bind="foreach: playlists")
                li(data-bind=inndbind).playlist-name.well.well-small
                    h5(data-bind="text: name")
                    span.label.label-warning.format
                        i.icon-time.icon-white
                        span= ' '
                        span(data-bind="text: total_time")
            <!-- /ko -->
            <!-- ko ifnot: playlists().length -->
            .alert.alert-block.no-items
                h4= i18n.gettext('Oops!')
                p=  i18n.gettext('No playlist found')
            <!-- /ko -->
