- var inndbind = 'attr: {id: id }';
- if (draggable)
    - inndbind += ',drag: id, dragOptions: { zIndex: 900, cursorAt: { top: 5, left: 5 } } ';

block content
  #playlist-search
  .total-time-div
  ul#playlists.nav.nav-pills(data-bind="foreach: playlists")
      li(data-bind=inndbind).playlist-name.well
        h1(data-bind="text: name")
        span.label.label-warning.format
          i.icon-time.icon-white
          span= ' '
          span(data-bind="text: total_time")
