- var inndbind = 'attr: {id: id }, click: $root._onClick ';
- if (draggable)
    - inndbind += ',drag: id, dragOptions: { zIndex: 900, cursorAt: { top: 5, left: 5 } } ';

block content
  p
    #playlist-search
  .total-time-div
  .row-fluid
    ul#playlists.nav.nav-pills.nav-stacked(data-bind="foreach: playlists")
        li(data-bind=inndbind)
          .playlist-name.span4.well
                  h1(data-bind="text: name")
                  span.label.label-warning.format
                    i.icon-time.icon-white
                    span= ' '
                    span(data-bind="text: total_time")
