script(id="boolean", type="text/html")
  select(data-bind="options: ['0','1'], value: value, attr: { id: label, name: label, title: desc}, jqSwitch: { value: value }")
script(id="string", type="text/html")
  input.span5(type='text', data-bind="attr: { id: label, name: label, placeholder: label, title: desc}, value: value")
script(id="spinner", type="text/html")
  input.span5(type='text', data-bind="spinner: {value: value }, attr: { id: label, name: label, placeholder: label, title: desc}")
